<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HOAppLayer_PresentationLayer_.Properties.Settings.HastaneOtomasyonuConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=HastaneOtomasyonu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HOAppLayer_PresentationLayer_.Properties.Settings.HastaneRandevuSistemiConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\HastaneRandevuSistemi.accdb"
            providerName="System.Data.OleDb" />
        <add name="HOAppLayer_PresentationLayer_.Properties.Settings.HastaOtomasyonuConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\HastaOtomasyonu.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>